* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}
section {
  /* border: 2px solid green; */
  color: #fff;
  padding: 0 10px;
  padding-bottom: 7.5%;
}
section .section1 .nav {
  position: sticky;
  top: 0;
}
section .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .left-nav {
  display: flex;
  align-items: center;
}
.nav .left-nav img {
  /* border: 2px solid red; */
  width: 45px;
  color: #fff;
}
.nav .center-nav .links a {
  color: #fff;
  text-decoration: none;
  /* border: 2px solid red; */
}
.nav .center-nav .links {
  /* border: 2px solid red; */
  display: flex;
  gap: 24px;
}
.nav .center-nav {
  /* border: 2px solid red; */
  padding: 6px;
  gap: 16px;
}
.nav .right-nav button {
  padding: 6px 15px;
  color: #fff;
  border-radius: 25px;
}
.nav .right-nav #download {
  background-color: #fff;
  color: #000000;
}
.nav .right-nav #signin {
  background-color: #000000;
  border: 0.3 solid #fff;
}
/* *******section 2************** */
.section2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  padding-top: 30px;
}
.section2 .heading p {
  font-size: 60px;
}
button {
  padding: 15px 20px;

  color: #111;
  border-radius: 25px;
  background-color: #fff;
}

.section2 {
}

.section2 .image {
  display: flex;
  padding-left: 50px;
  border-radius: 10px;
  /* padding-top: 36px; */
  /* border: 2px solid red; */
}
.section2 #info {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  /* padding-bottom: 20px; */
}

/* **********section 3************** */

.section3 .logobox {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* border: 2px solid rgb(149, 255, 0); */
  /* gap: 5px; */
}

.logobox .img {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  /* width: 9%; */
  /* aspect-ratio: 3/2; */
  /* object-fit: contain; */
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* gap: auto; */
  background-color: #000000;
}

.logobox img {
  /* border: 2px solid rgb(102, 39, 39); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* max-width: 100%; */
  height: 91px;
  /* width: 100px; */
  margin: 20px 0;
  aspect-ratio: 3/2;
  object-fit: contain;
  background-color: #141313;
  padding: 20px;
}
.logobox {
  /* padding: 0 21px; */
  display: flex;
  justify-content: space-around;
  /* border: 2px solid green; */
}
